.LightMode : active{
  background-color: white;
}

.DarkMode : active{
  background-color: black;
}

.home-page {

  @keyframes gif {
    from {color: rgb(0, 255, 234);}
    to {color: rgb(130, 57, 255);}
  }

  &__title {
    animation-name: gif;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__products {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  

}
